SOURCE_MYSQL_DB_HOST=
SOURCE_MYSQL_DB_USER=
SOURCE_MYSQL_DB_PASS=
SOURCE_MYSQL_DB_PORT=
SOURCE_MYSQL_DB_DATABASE=

DEST_MYSQL_DB_HOST=
DEST_MYSQL_DB_USER=
DEST_MYSQL_DB_PASS=
DEST_MYSQL_DB_PORT=
DEST_MYSQL_DB_DATABASE=

LSH_REDIS_HOST=
LSH_REDIS_PORT=
LSH_REDIS_DB=

#ELASTICSEARCH_HOST=
#ELASTICSEARCH_USER=
#ELASTICSEARCH_PASS=